.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #0faf00;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App-content {
  margin: 30px;
}

nav {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  background-color: #11c700;
}

nav a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

button {
  font-size: 0.8em;
  font-weight: 700;
  color: #ffffff;
  background-color: #11c700;
  border-color: #0a7700;
}

button:hover {
  cursor: pointer;
  background-color: #0a7700;
}
